{% extends 'base.html' %}
{% block content %}

  <h1>{{ question.prompt }}</h1>

  <form action="/answer" method="POST">

      <!-- you should have one item like this for every choice -->
      {% for choice in question.choices  %}
      <p>
        <input
            type="radio"
            name="answer"
            value="{{ choice }}">
        {{ choice }}
      </p>
      {% endfor %}

      <p>
        <input
            type="hidden"
            name="question_number"
            value="{{ question_number }}">
      </p>

    <button>Continue</button>
  </form>

{% endblock %}
